html, body {
  height: 100%; }

body {
  color: #000;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  height: 100%;
  position: relative; }

h1 {
  font-size: 300px;
  position: relative;
  height: 300px;
  top: 50%;
  margin-top: -150px;
  vertical-align: middle; }

.c1, .b1 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  clip: rect(0px, auto, 190px, 0px); }

.yellow {
  background-color: #f8f087;
  color: #fff; }

.green {
  background-color: #b7e3c0;
  color: #fff; }

.blue {
  background-color: #b8d0dd;
  color: #fff; }

.purple {
  background-color: #dbbae5;
  color: #fff; }

.white {
  background-color: #fff;
  color: #333; }

.pink {
  background-color: #f39dd4;
  color: #fff; }

.orange {
  background-color: #ffb347;
  color: #fff; }

.colon-shift {
  position: relative;
  top: -25px; }
